.bgi{
    background-image:linear-gradient(rgba(0, 68, 255, 0.562) 15%, rgba(0, 195, 255, 0.637) 80% ) ,url(img/1.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}

.bgi1{
    background-image: url(img/2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
}

.bgi2{
    background-image:linear-gradient(rgba(0, 68, 255, 0.61) 5%, rgba(0, 195, 255, 0.685) 80% ) , url(img/4.jpg);
    background-position: center;
}

.bgi3{
    background-image:linear-gradient(rgba(0, 195, 255, 0.774),rgba(0, 68, 255, 0.63))  ,url(img/5.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bgi4{
    background-image:linear-gradient( rgba(0, 68, 255, 0.637) , rgba(0, 195, 255, 0.753) ) ,url(img/6.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
 
.bgi5{
    background-image: linear-gradient( rgba(0, 68, 255, 0.562) , rgba(0, 195, 255, 0.753) ) ,url(img/11.JPG);
     background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bgi6{
    background-image: linear-gradient(rgba(0, 195, 255, 0.925) 15%, rgba(0, 68, 255, 0.767) ) ,url(img/18.jpg);
     background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.fonts{
    font-size: 140px;
    letter-spacing: 5px;
}

.btn1{
    border: none;
    background-color: #76d443;
    color: white;
    padding: 15px;
    padding-inline: 40px;
}

.clr5{
    color: white;
}

.clr5:hover{
    color: #76d443;
}


.btn1:hover{
    background-color: #00c6c3;
    color: white;
}

.h800{
    height: 800px;
}

.clr{
    color: #76d443;
}

.bgr{
    background-color: #76d443;
}

.clr1{
    color: #e7e7e7;
}

.w-20{
    width: 20%;
}

.bor{
    border-bottom: 1px dashed white;
}

.size{
    font-size: 30px;
}

.btn2{
    background-color: white;
    color: #aca9a9;
    padding: 8px;
    padding-inline: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.5s;
}

.btn2:hover{
    background-color: #03bec5;
    color: white;
}

.bgr1{
    background-color: #204dd4  ;
    border-top: 1px solid white;
}

.dis{
    display: flex;
}

.div{
    width: 50px;
    height: 1px;
    background-color: white;
}

html, body {
  height: 100%;
  margin: 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background: #ddd;
}

.bor-dash{
    border: 1px dashed white;
}

.bgi7{
    background-image: url(img/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    background-attachment: scroll;
}

.clr2{
    color: #00c6c3;
}

.out{
    outline: none;
}

.clr3{
    background-color: #76d443;
}

@media(max-width:820px){
    .bgi{
        background-attachment: scroll;
    }

    .bgi3{
        background-attachment: scroll;
    }
    
    .bgi4{
        background-attachment: scroll;
    }

    .bgi5{
        background-attachment: scroll;
    }

    .bgi6{
        background-attachment: scroll;
    }

    .fonts{
        font-size: 140px;
    }

}

@media(max-width:650px){

    .bgi{
        background-attachment: scroll;
    }

    .bgi3{
        background-attachment: scroll;
    }
    
    .bgi4{
        background-attachment: scroll;
    }

    .bgi5{
        background-attachment: scroll;
    }

    .bgi6{
        background-attachment: scroll;
    }

    .fonts{
        font-size: 50px;
    }


}